<!DOCTYPE html>
<html class=" dark" lang="en">
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}{{ title|default('Titre par défaut') }}{% endblock %}</title>
        <meta name="description" content="{% block meta_description %}{{ meta_description|default('Description par défaut.') }}{% endblock %}">

        {# --- Open Graph --- #}
        <meta property="og:title" content="{% block og_title %}{{ title|default('Titre par défaut') }}{% endblock %}">
        <meta property="og:description" content="{% block og_description %}{{ meta_description|default('Description par défaut.') }}{% endblock %}">

        <meta property="og:url" content="{% block og_url %}{{ app.request.uri }}{% endblock %}">
        <meta property="og:type" content="{% block og_type %}website{% endblock %}">

        {# --- Twitter Cards --- #}
        <meta name="twitter:card" content="{% block twitter_card %}summary_large_image{% endblock %}">
        <meta name="twitter:title" content="{% block twitter_title %}{{ title|default('Titre par défaut') }}{% endblock %}">
        <meta name="twitter:description" content="{% block twitter_description %}{{ meta_description|default('Description par défaut.') }}{% endblock %}">

{#         <meta property="og:image" content="{% block og_image %}{{ og_image|default('/images/og-default.jpg') }}{% endblock %}">
        <meta name="twitter:image" content="{% block twitter_image %}{{ twitter_image|default('/images/twitter-default.jpg') }}{% endblock %}"> #}

        <meta name="robots" content="{% block meta_robots %}index, follow{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {# Favicon #}
        <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
        <link rel="shortcut icon" href="/favicon/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
{#         <link rel="manifest" href="/favicon/site.webmanifest" /> #}


        {# Tailwind CND #}
        <script src="https://cdn.tailwindcss.com"></script>
        {# Anime.js #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
        {# Font awesome #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        {# GSAP #}
        <script src="https://unpkg.com/gsap@3/dist/gsap.min.js"></script>
        <script>
          tailwind.config = {
            darkMode: 'class',
            theme: {
              extend: {
                colors: {
                  black: {
                    990: "#000000",
                    950: "#0F0F10",
                    900: "#1B1B1C"
                  },
                  white: "#FFFFFF",
                  grey: {
                    950: "#25282D",
                    900: "#30353B",
                    850: "#E9EDEE",
                    800: "#1D2E3D",
                    500: "#BBBBBB",

                  },
                  blue: {
                    500: "#0585DC",
                    600: "#71D6FF"
                  },
/*                   purple: {
                    500: "#0585DC", 
                    600: "#71D6FF"  
                  }, */
                  purple: {
                    500: "#9F6EFF", // Accent discret inspiré de Blender Studio
                    600: "#B59CFF"  // Variante plus claire pour hover ou backgrounds doux
                  },
                  white: {
                    DEFAULT: "#F3F6F7", // Blanc principal lisible et doux
                    soft: "#F5F8FA",    // Pour fonds secondaires
                    muted: "#ECECEC"    // Pour éléments subtils
                  }
                }
              }
            }
          }
        </script>
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <script type="module">
      import initAddonScript from '{{ asset("js/reload.js") }}';
      initAddonScript();
    </script>
    <body id="top" class="transition-colors duration-300 ease-in-out flex flex-col justify-center items-center
     bg-slate-50 text-black-950 dark:bg-black-950 dark:text-white">

      {% include "partials/header.html.twig" %}    
      {% block body %}{% endblock %}
      {# Toast Container (position fixed) #}
      <div id="toast-container" class="fixed bottom-4 right-4 z-[9999] flex flex-col items-end gap-3 mb-10">
          {% for label, messages in app.flashes %}
              {% for message in messages %}
                  <div class="flash-dismissable px-4 py-2 rounded-xl shadow-lg text-sm max-w-xs w-fit transition-opacity duration-500 opacity-100
                      {% if label == 'success' %} bg-blue-500 text-white
                      {% elseif label == 'error' %} bg-red-600 text-white
                      {% elseif label == 'warning' %} bg-yellow-600 text-black
                      {% else %} bg-grey-900 text-white {% endif %}">
                      {{ message }}
                  </div>
              {% endfor %}
          {% endfor %}
      </div>
      {% include "partials/footer.html.twig" %}  
    </body>

    <script type="module">
      import initAddonScript from '{{ asset("js/toggleTheme.js") }}';
      initAddonScript();
    </script>
    <script type="module">
      import initAddonScript from '{{ asset("js/flashFade.js") }}';
      initAddonScript();
    </script>
</html>

